html
{
    background-color: #ffee00;
    font-family: 'Amita', cursive;

    overflow: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Amita&display=swap');

body
{
    margin: 0;
    padding: 0;
    border: 0;

    font-size: 100px;

    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.menu
{
    background-color: black;

    width:100vw;
    height: 10vh;
    margin-top: 0vh;

    animation: menu 4s;

    display: flex;
    justify-content: center;
    align-items: center;
}

.menu a
{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;

    display: flex;
    position: fixed;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    
    text-decoration: none;
    animation-duration: 6s;
    animation-name: logo;
}

.menu h1
{
    margin: 0;
    padding: 0;

    color: black;
}

.menu h2
{
    text-decoration: none;
    color: rebeccapurple;
    
    animation-name: ponto;
    animation-duration: 6s;
}

@keyframes logo
{
    from {  opacity: 0;}
           
    to   {  opacity: 1;}
}

@keyframes menu
{
    0%
      {
        margin-top: -10vh;
      }

    65%
      {
        margin-top: -10vh;
      }

    100%
      {
        margin-top: 0;
      }
}

@keyframes ponto
{
    0% {color: black;}
    40% {color: black;}
    65% {color: rebeccapurple;}
}